.navbar{margin-bottom:0;}
section{width:100%; float:left;}
.banner-section{background-image:url("../image/beach.jpg"); background-size:cover; height: 380px; left: 0; position: absolute; top: 0; background-position:0;}
.post-title-block{padding:100px 0;}
.post-title-block h1 {font-size: 85px; font-weight: bold; text-transform: capitalize;  -webkit-text-stroke: 1px black;
   color: #BCE3FF;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;}
.post-title-block li{font-size:34px; -webkit-text-stroke: 1px black;
   color: #BCE3FF;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;}
.image-block{float:left; width:100%; margin-bottom:10px;}
.footer-link{float:left; width:100%; background:#222222; text-align:center; padding:30px;}
.footer-link a{color:#ffffff; font-size:18px; text-transform:uppercase;}
.footer-link p{color:#919191; font-size:16px;}
.font-bigger p{font-size:16px;}
.font-bigger th{font-size:16px;}
.font-bigger tr{font-size:16px;}
.font-bigger ul{font-size:16px;}
.font-smaller p{font-size:12px;}
/* https://static.pexels.com/photos/373912/pexels-photo-373912.jpeg */
#map {
        height: 400px;
        width: 100%;
       }
